<section class="bg-black">
    <div class="w-full my-5 flex justify-between items-center px-4 gap-1">
        <app-level [progress]="100" />
        <app-per-hour />
    </div>

    <div
        class="w-full  justify-center items-center rounded-tl-3xl rounded-tr-3xl border-t-4 border-[#a005a5] bs-out bg-[#4c104e]">

        <app-toast />

        <div class="flex justify-center items-center gap-2">
            <app-balance />
            <button><img src="assets/icons/add.svg" alt="add" class="w-5"></button>
        </div>

        <app-nav class="w-full my-2" />

        <div class="w-full mb-5">
            @for (i of [1,2,3,4]; track $index) {
                <app-product (modalOpened)="toggleModal()" />
                }
        </div>
    </div>

    <app-actions  />

    @if(isModalOpen){
    <app-modal (modalClosed)="toggleModal()" class="fadeInUp" />
    }
</section>