span {
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.bgc {
    background: rgb(76, 16, 78);
    background: radial-gradient(circle, rgba(76, 16, 78, 1) 50%, rgba(61, 13, 63, 1) 100%);
}

.bor {
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}