.bs-inset {
    -webkit-box-shadow: inset 0px 15px 7px -7px rgb(160, 5, 165);
    -moz-box-shadow: inset 0px 15px 7px -7px    rgb(160, 5, 165);
    box-shadow: inset 0px 15px 7px -7px rgb(160, 5, 165);
}

