<section class="flex justify-between items-center gap-2 w-screen px-4">
    <article class="flex justify-center items-center">
        <img src="assets/icons/thunder3.png" alt="icon" class="w-5 h-auto transform rotate-12">
        <p>
            <span>457</span>
            <span class="text-sm">/500</span>
        </p>
    </article>

    <button class="inline-flex items-center">
        <img src="assets/icons/rocket.png" alt="rocket" class="w-8 ml-2">
        Impulsar
    </button>
</section>