<span
    class="relative z-50 flex flex-col justify-between items-center gap-0 bg-[#5444556c] ring-1 ring-[#8b849491] py-0.5 px-2 rounded-lg">
    <p class="text-xxs roboto-light w-full">Ganancias por hora</p>
    <span class="flex justify-between items-center gap-1">
        <img src="assets/icons/sm-coin.png" alt="coin" class="w-5 -mr-1">
        <p class="text-xs roboto-medium">+20</p>
        <div class="h-3 border-l-[1px] border-gray-500"></div>
        <img src="assets/icons/info.png" alt="info" class="w-3 h-3 opacity-90">
    </span>
</span>